
button{
    border: 1px solid cadetblue;
    margin:5px;
    border-radius: 5px;
    background-color:white;
}
div,button{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
button:hover{
    border:none;
    background-color:rgb(194, 63, 63);
}